@import './../../config/style.less';

.progress-line-component {
  position: relative;
  height: 2px;
  background: rgba(0, 0, 0, .3);
  border-radius: 2px;
  .progress {
    position: absolute;
    height: 100%;
    background: @themeColor;
    border-radius: 2px;
  }
  .progress-btn-wrapper {
    position: absolute;
    left: -15px;
    top: -14px;
    width: 30px;
    height: 30px;
  }
  .progress-btn {
    position: relative;
    top: 8px;
    left: 8px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #efefef;
    border-radius: 50%;
    background: @themeColor;
  }
}